Supabase__Url="tu_url_de_supabase"
Supabase__AnonKey="tu_anon_key"
Jwt__Key="tu_jwt_key"
Jwt__Issuer="tu_jwt_issuer"
Jwt__Audience="authenticated"
ConnectionStrings__SupabaseDb="Host=tu_host;Port=tu_puerto;Database=tu_base_de_datos;User Id=tu_usuario;Password=tu_contraseña;Ssl Mode=Require;Trust Server Certificate=true;Multiplexing=false;Keepalive=10;Pooling=true;Minimum Pool Size=1;Maximum Pool Size=10;No Reset On Close=true"
